body {
  background-color: #fff0e0;
    color: #333333;
    font-family: 'Segoe UI', sans-serif;
  }
  
  h1, h2, h3 {
    color: #4a90e2;
  }
  
  p {
    color: #666666;
  }
  
  button {
    background-color: #ff8c42;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e07a36;
  }
  
  .card {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
  }
  
.maincontainer {
    width:100%;
    padding:0px;
    display: flex;
    flex-direction: column;
}

.headercontainer {
  position: sticky;
  top: 0;
  z-index: 1000; /* ensures it stays above other content */
  width:auto;
  background: linear-gradient(90deg, #fff2e5, #ffe6cc);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ffcc99; /* soft border matching theme */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.logo{
    width:120px;
    height: 100px;
    cursor: pointer;
}


.headernav > ul {
  list-style: none;
  display: flex;
  justify-content: flex-end; /* OR space-around if you want */
  align-items: center;
  padding: 0;
  margin: 0;
}

.headernav > ul > li{
  margin:20px;
  background-color: #ff8c42;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.headernav > ul >li:hover {
  background-color: #e07a36;
}


.itemsContainer{
  width:auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding:0 80px;
}

.itemcard{
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  width:250px;
  height: auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.itemHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
}

.itemHeader > img{
  width:200px;
  height: 200px;
  margin-bottom: 8px;
}

.itemHeader > h2{
  margin: 5px 0 5px 0px;
}

.itemHeader > h3{
  margin: 0;
}

.iteminfo{
  display: flex;
  justify-content: space-between;
}

.left-info {
  margin:2px;
  width: 150px;
  height: 100px;
}

.right-action{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.searchContainer{
  margin:8px 80px 0 0;
  display: flex;
  justify-content: flex-end;
}

.searchContainer > input{
  width: 200px;
  height: auto;
  padding:2px 5px;
  margin: 0 5px 0 0;
}

.searchContainer > button {
  height: 35px;
}
